<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Contacts </title>
    <script>
      var req = new XMLHttpRequest();
      req.overrideMimeType("application/json");
      req.open('GET', '/api/contacts/get', true);
      req.onload  = function() {
         var jsonResponse = JSON.parse(req.contacts);
         document.getElementById('demo').innerHTML = jsonResponse;
         // do something with jsonResponse
      };
      req.send(null);
    </script>
  </head>
  <body>
      <p id="demo">Data shall appear here</p>
  </body>
</html>
