<html>
    <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8">
      <title>{{title}}</title>
      <script type="text/javascript">
        {{#created}}
        function created(){
          alert("{{message}}");
        }
        {{/created}}
        function callFunctions() {
          {{#fkeys}}
          {{namefk}}List();
          {{/fkeys}}
          {{#created}}
          created();
          {{/created}}
        }
        {{#fkeys}}
        function {{namefk}}List(){
          var request = new XMLHttpRequest();
          request.open("GET", "../{{namefk}}/dropdrown");
          request.onload = function(){
            console.log(request.responseText);
              var obj = JSON.parse(request.responseText);
              console.log(obj);
              var select = document.getElementById("{{namefk}}");
              for(var element in obj) {
                console.log(element);
                  var option = document.createElement("option");
                  option.text = obj[element].name;
                  option.value = obj[element]._id;
                  select.appendChild(option);
                  console.log(element._id);
              };
          }
          request.send();
        }
        {{/fkeys}}
        {{#update}}
        function updateObj(){
            var formData = new FormData(document.forms[0]);
            var object = {};
                formData.forEach(function(value, key){
                    object[key] = value;
                });
            var json = JSON.stringify(object);
            var request = new XMLHttpRequest();
            request.open("PUT", "../{{updatelink}}");
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.onload = function(){ alert ("{{message}}"); } // success case
            request.onerror = function(){ alert (request.responseText); } // failure case
            request.send(json);
        }
        {{/update}}
      </script>
    </head>
    <header>
    </header>
    <body onload="callFunctions()">
        <h1>{{formAction}} {{formTitle}}</h1>
    <form method="{{formMethod}}">
      {{#properties}}
      <div>
          <label >{{name}}:</label>
          {{^isDropdown}}
          <input type="{{type}}" value="{{value}}" name="{{nameLower}}" {{#required}}required {{/required}}/>
          {{/isDropdown}}
          {{#isDropdown}}
          <select id={{namefk}}>
            <option value="0">Por favor seleccione um</option>
          </select>
          {{/isDropdown}}
      </div>
      {{/properties}}
        {{^update}}
        <a href="./">Voltar</a>
        <input type="submit" value="Submit">
        {{/update}}
    </form>
        {{#update}}
        <a href="../">Voltar</a>
        <input type="submit" value="Editar" onClick="updateObj()">
        {{/update}}
    </body>
</html>
