<html>
    <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8">
      <title>{{title}}</title>
      <script type="text/javascript">
        {{#created}}
        function createObj(){
            var formData = new FormData(document.forms[0]);
            var object = {};
                formData.forEach(function(value, key){
                  console.log(key +"|"+value);
                    object[key] = value;
                });
            var json = JSON.stringify(object);
            var request = new XMLHttpRequest();
            request.open("POST", "../{{insertlink}}/insert");
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.onreadystatechange = function () {
                if(request.readyState === 4 && request.status === 200) {
                    var response = JSON.parse(this.responseText)
                    if(response.status){
                        alert(response.message);
                        window.location.replace("./");
                    }
                }
            }
            request.send(json);
        }
        {{/created}}
        function callFunctions() {
          {{#fkeys}}
          {{namefk}}List();
          {{/fkeys}}
        }
        {{#fkeys}}
        function {{namefk}}List(){
          console.log("called {{namefk}}");
          var request = new XMLHttpRequest();
          request.open("GET", "../{{namefk}}/dropdrown");
          request.onload = function(){
              var obj = JSON.parse(request.responseText);
              var select = document.getElementById("{{namefk}}");
              for(var element in obj) {
                  var option = document.createElement("option");
                  option.text = obj[element].name;
                  option.value = obj[element]._id;
                  select.appendChild(option);
              };
          }
          request.send();
        }
        {{/fkeys}}
        {{#update}}
        function updateObj(){
            var formData = new FormData(document.forms[0]);
            var object = {};
                formData.forEach(function(value, key){
                    object[key] = value;
                });
            var json = JSON.stringify(object);
            var request = new XMLHttpRequest();
            request.open("PUT", "../{{updatelink}}");
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.onload = function(){
                              var response = JSON.parse(this.responseText);
                              alert(response.message);
                              window.location.replace("../");
                            } // success case
            request.onerror = function(){ alert (request.responseText); } // failure case
            request.send(json);
        }
        {{/update}}
      </script>
    </head>
    <header>
    </header>
    <body onload="callFunctions()">
        <h1>{{formAction}} {{formTitle}}</h1>
    <form method="{{formMethod}}">
      {{#properties}}
      <div>
          <label >{{name}}:</label>
          {{^isDropdown}}
          <input type="{{type}}" value="{{value}}" name="{{nameLower}}" {{#required}}required {{/required}}/>
          {{/isDropdown}}
          {{#isDropdown}}
          <select name={{namefk}} id={{namefk}}>
            <option value="0">Por favor seleccione um</option>
          </select>
          {{/isDropdown}}
      </div>
      {{/properties}}
    </form>
        {{^update}}
        <a href="./">Voltar</a>
        <input type="submit" value="Guardar" onClick="createObj()">
        {{/update}}
        {{#update}}
        <a href="../">Voltar</a>
        <input type="submit" value="Editar" onClick="updateObj()">
        {{/update}}
    </body>
</html>
