<!DOCTYPE HTML>
<html lang="en-us">
	<head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>{{title}}</title>
    </head>
    <header>
    </header>
    <body>
        <h1>{{welcomeMessage}}</h1>
				<h2><a href="./insert">Inserir</a></h2>
        <table>
            <tr>
                {{#columns}}
                <th>{{name}}</th>
                {{/columns}}
            </tr>
            {{#rows}}
              <tr>
                  {{#properties}}
                  <td>
                      {{value}}
                  </td>
                  {{/properties}}
									{{#actions}}
									<td>
										<a href="{{link}}">{{label}}</a>
									</td>
									{{/actions}}
              </tr>
            {{/rows}}
        </table>
    </body>
</html>
